.first{
    font-size: larger;
}
.second{
    font-weight: bolder;
}
.third{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.forth{
    font-style: italic;
}